{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/collabera-training.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Miscellaneous Notes</h1>
                    <span class="subheading">Awesome notes from Collabera
                        training and Data Scientist Nanodegree Program at Udacity!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="commentList">
                <li>
                    <a
                            href="https://hailuteju.github.io/linux-aws-notes/linux_git.html">Linux and GitHub</a>
                </li>
                <li>
                    <a
                            href="https://hailuteju.github.io/linux-aws-notes/sqlTraining.html">Oracle SQL</a>
                </li>
                <li>
                    <a href="https://hailuteju.github.io/projects/DSNDP-Term2.html">Data Scientist Nanodegree Program</a>
                </li>
                <li>
                    <a href="https://hailuteju.github.io/projects/general_knowledge.html">General Notes</a>
                </li>
            </ul>
            <div class="beautiful_img_container">
                <img src="https://lh3.googleusercontent.com/xa7-tFExXrUU4_JdtfOG4dKgOADBHk0Z7gHny0l6WB1X3d3P4Y50K45WSliZfn-YuX2xHvqGbQ=s220-w220-h140"/>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}